<h1><%= @vote.name %></h1>

<% @vote.questions.each do |q| %>
 <li>
  <span class="votecount"><%= q.count %></span>
  <span><%= q.text %></span>
  <a href="<%= q.vote_address %>">+ 1</a>
 </li>
<% end %>

<p class="votecount">Total votes: <%= @vote.total_votes  %></p>
